* {
    font-family: "Space Mono";
}
.menu-button {
    background: none;
    border-radius: 0;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px 30px;
}
.menu-button:hover {
    background: black;
    color: white;
}
.hide {
    display: none;
}
.container {
    width: 90%;
    max-width: 90%;;
}
p {
    font-family: "Radio Canada";
    font-weight: lighter;
}

.menu {
    position: absolute;
    top: 200px;
}
.block {
    background: white;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
}